<script src="/hooks/eedomus/js/eedomus.config.js"></script>
<script src="/hooks/eedomus/js/eedomus.controller.js"></script>
<script src="/hooks/eedomus/js/eedomus.service.js"></script>

<div data-ng-controller="EedomusCtrl as vm">
    <div class="box skin-box box-default no-border ng-cloak">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'VARIABLES' | translate}}</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-centered col-md-6">
                    <div class="form-group">
                        <label for="eedomusHost" class="col-sm-5 control-label">Adresse IP Box Eedomus</label>
                        <div class="col-md-7">
                            <input id="eedomusHost" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHost();" ng-model="vm.eedomusHost" class="form-control ng-pristine ng-untouched ng-empty" placeholder="192.168.XX.XX">
                        </div>
                        <label for="userApi" class="col-sm-5 control-label">Utilisateur Eedomus (API)</label>
                        <div class="col-md-7">
                            <input id="userApi" ng-model="vm.eedomusUser" ng-model-options='{ debounce: 500 }' ng-change="vm.updateUser();" class="form-control ng-pristine ng-untouched ng-empty" placeholder="Utilisateur Eedomus (API)">
                        </div>
                        <label for="secretApi" class="col-sm-5 control-label">code secret</label>
                        <div class="col-md-7">
                            <input id="secretApi" ng-model-options='{ debounce: 500 }' ng-change="vm.updateSecret();" ng-model="vm.eedomusSecret" class="form-control ng-pristine ng-untouched ng-empty" placeholder="code secret">
                        </div>
                    </div>
                </div>
                <button class="btn btn-flat btn-success" disabled="disabled">Tester la connexion</button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-centered col-md-6">
                    <a href="" ng-click="vm.findEedomusDevices()">
                        <button class="btn btn-flat btn-info">{{ 'FIND_DEVICES' | translate}}</button>
                    </a>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'EEDOMUS_ID' | translate }}</th>
                    <th>{{ 'EEDOMUS_NAME' | translate }}</th>
                    <th>{{ 'EEDOMUS_ROOM' | translate }}</th>
                    <th>{{ 'EEDOMUS_ADD' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in vm.devices" class="ng-cloak">
                    <td>{{device.periph_id}}</td>
                    <td>{{device.name}}</td>
                    <td>{{device.room.name}}</td>
                    <td>
                        <a href="" data-toggle="modal" data-target=".eedomus-inclusion" ng-click="vm.selectDevice(device.periph_id, device.name)">
                            <button ng-disabled="device.exist" class="btn btn-flat btn-success">{{ 'EEDOMUS_ADD' | translate}}</button>
                        </a>
                        <a href="" ng-click="vm.deleteDevice(device.id)">
                            <button class="btn btn-flat btn-danger" ng-disabled="!device.exist" >{{ 'EEDOMUS_REMOVE' | translate}}</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade eedomus-inclusion" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h3 class="modal-title">{{ 'EEDOMUS_MODAL_ADD' | translate }} {{vm.selectedDevice.name}} ({{vm.selectedDevice.eedomusId}})</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="col-centered col-md-6">
                            <h4 class="modal-title">{{ 'EEDOMUS_ROOM' | translate }} </h4>
                        </div>
                        <div class="col-centered col-md-6">
                            <select ng-model="vm.roomSelected" class="form-control ng-pristine ng-valid ng-empty ng-touched" data-toggle="tooltip" data-original-title="Sélectionnez la maison associé à la pièce" ng-options="room as room.name for room in vm.rooms track by room.name">
                            </select>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'EEDOMUS_VALUE' | translate }}</th>
                                <th>{{ 'EEDOMUS_DESCRIPTION' | translate }}</th>
                                <!-- <th>{{ 'EEDOMUS_DEVICE_OFF' | translate }}</th>
                                <th>{{ 'EEDOMUS_DEVICE_ON' | translate }}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in vm.selectedDevice.result.eedomusInformations.body.values" class="ng-cloak">
                                <td>{{info.value}}</td>
                                <td>{{info.description}}</td>
                                <!-- <td><input type="radio" name="offGroup" ng-model="vm.selectedDevice.offValue" /></td>
                                <td><input type="radio" name="onGroup" ng-model="vm.selectedDevice.onValue" /></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal" ng-click="vm.removeNode()">{{ 'CANCEL' | translate }}</button>
                    <button type="button" class="btn btn-success btn-flat" data-dismiss="modal" ng-click="vm.addDevice(vm.selectedDevice, vm.roomSelected)">{{ 'EEDOMUS_ADD' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>